<div class="row show-grid">
  <div class="col-md-12 offset-md-7 form-group">
    <label class="col-sm-10 col-form-label">{{ 'product.manufacturer' | translate}}</label>
    <div class="col-sm-5">
      <nb-select *ngIf="list1.length" placeholder="{{ 'product.manufacturer' | translate}}" [(ngModel)]="isRed"
                 outline
                 shape="rectangle">
        <nb-option *ngFor="let manufacturer of list1" [value]="manufacturer.code">{{ manufacturer.code }}</nb-option>
      </nb-select>
    </div>
  </div>
</div>

<p-pickList sourceHeader="Available"
            targetHeader="Selected"
            dragdrop="true"
            [responsive]="true"
            [source]="list1"
            [target]="list2"
            sourceFilterPlaceholder="Search by brand"
            targetFilterPlaceholder="Search by brand"
            [showSourceControls]="false"
            [showTargetControls]="false"
            filterBy="code">
  <ng-template let-item pTemplate="item">
    <div class="ui-helper-clearfix">
      <div style="font-size:14px;margin:15px 5px 0 0">{{item.code}}</div>
    </div>
  </ng-template>
</p-pickList>
