<form [formGroup]='form'>

  <div class="form-group">
    <label for="firstname" class="col-sm-3 col-form-label">First name *</label>
    <div class="col-sm-12">
      <input type="text" class="form-control" id="firstname" formControlName='firstName'
             placeholder="First name" required>
      <span *ngIf="(firstName.dirty || firstName.touched) && firstName.invalid && firstName.errors.required"
            class="err-message">
        First name is required.
      </span>
    </div>
  </div>
  <div class="form-group">
    <label for="lastname" class="col-sm-3 col-form-label">Last name *</label>
    <div class="col-sm-12">
      <input type="text" class="form-control" id="lastname" formControlName='lastName'
             placeholder="Last name" required>
      <span *ngIf="(lastName.dirty || lastName.touched) && lastName.invalid && lastName.errors.required"
            class="err-message">
        Last name is required.
      </span>
    </div>
  </div>
  <div class="form-group">
    <label for="username" class="col-sm-3 col-form-label">User name *</label>
    <div class="col-sm-12">
      <input type="text" class="form-control" id="username" formControlName='userName'
             placeholder="Username" required>
      <span *ngIf="(userName.dirty || userName.touched) && userName.invalid && userName.errors.required"
            class="err-message">
        User name is required.
      </span>
    </div>
  </div>
  <div class="form-group">
    <label for="email" class="col-sm-3 col-form-label">Email address *</label>
    <div class="col-sm-12">
      <input type="email" class="form-control" id="email" formControlName='emailAddress'
             placeholder="Email" required>
      <span *ngIf="(emailAddress.dirty || emailAddress.touched) && emailAddress.invalid && emailAddress"
            class="err-message">
        <span *ngIf="emailAddress.errors.email || emailAddress.errors.pattern">
          Value has to be a valid email address.
        </span>
        <span *ngIf="emailAddress.errors.required">
          Email address is required.
        </span>
      </span>

    </div>
  </div>

  <div class="form-group" *ngIf="!user?.id">
    <label for="password" class="col-sm-3 col-form-label">Password *</label>
    <div class="col-sm-12">
      <input type="password" class="form-control" id="password" formControlName='password'
             placeholder="Password" required>
      <span *ngIf="(password.dirty || password.touched) && password.invalid && password" class="err-message">
        <span *ngIf="password.errors.required">
          Password required.
        </span>
        <span *ngIf="password.errors.pattern">
          Password not valid. <br/>
          Should contains at least 1 character lower case, at least 1 character uppercase,
          at least 1 digit, 6 to 12 characters
        </span>
      </span>
    </div>
  </div>

  <div class="form-group">
    <nb-checkbox status="success" class="col-sm-4" formControlName='active'>Active</nb-checkbox>
  </div>

  <div class="form-group">
    <label class="col-sm-3 col-form-label">Default language *</label>
    <div class="col-sm-12">
      <nb-select *ngIf="languages.length" placeholder="Select language" formControlName='defaultLanguage' outline
                 shape="rectangle">
        <nb-option *ngFor="let language of languages" [value]="language.code">{{ language.code }}</nb-option>
      </nb-select>
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-3 col-form-label">Groups *</label>
    <div class="col-sm-12 group-block">
      <nb-checkbox *ngFor="let group of groups" status="success" [value]="userHasRole(group)" (change)="addRole(group)">
        {{ group.name }}
      </nb-checkbox>
    </div>
  </div>

  <hr/>

  <div class="form-group actions-button">
    <button type="submit" class="btn btn-primary" (click)="save()" [disabled]="!form.valid && !user?.id">Save</button>
    <button *ngIf="!showRemoveButton" type="submit" class="btn btn-danger" (click)="remove()">Remove</button>
  </div>

</form>
