<form [formGroup]='form'>

  <div class="form-group">
    <label for="firstname" class="col-sm-3 col-form-label"> {{ 'user.firstName' | translate }} *</label>
    <div class="col-sm-12">
      <input type="text" class="form-control" id="firstname" formControlName='firstName'
             placeholder="{{ 'user.firstName' | translate }} " required>
      <span *ngIf="(firstName.dirty || firstName.touched) && firstName.invalid && firstName.errors.required"
            class="err-message">
         {{ 'user.firstNameErrorRequired' | translate }}
      </span>
    </div>
  </div>
  <div class="form-group">
    <label for="lastname" class="col-sm-3 col-form-label">{{ 'user.lastName' | translate }} *</label>
    <div class="col-sm-12">
      <input type="text" class="form-control" id="lastname" formControlName='lastName'
             placeholder="{{ 'user.lastName' | translate }}" required>
      <span *ngIf="(lastName.dirty || lastName.touched) && lastName.invalid && lastName.errors.required"
            class="err-message">
        {{ 'user.lastNameErrorRequired' | translate }}
      </span>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-3 col-form-label">{{ 'common.merchantStore' | translate }} *</label>
    <div class="col-sm-12">
      <nb-select *ngIf="stores.length" placeholder="{{ 'common.merchantStore' | translate }}" formControlName='store' outline
                 shape="rectangle">
        <nb-option *ngFor="let store of stores" [value]="store.code" (click) ="chooseMerchant(store)">{{ store.code }}</nb-option>
      </nb-select>
    </div>
  </div>
  <div class="form-group">
    <label for="email" class="col-sm-3 col-form-label">{{ 'user.emailAddress' | translate }} *</label>
    <div class="col-sm-12">
      <input type="email" class="form-control" id="email" formControlName='emailAddress' (change)="errorMessage = ''"
             placeholder="{{ 'user.emailAddress' | translate }}" required>
      <span *ngIf="(emailAddress.dirty || emailAddress.touched) && emailAddress.invalid && emailAddress"
            class="err-message">
        <span *ngIf="emailAddress.errors.email || emailAddress.errors.pattern">
          {{ 'user.emailAddressErrorRequired' | translate }}
        </span>
        <span *ngIf="emailAddress.errors.required">
          {{ 'user.emailAddressErrorNotValid' | translate }}
        </span>
      </span>
      <span *ngIf="errorMessage !==''" class="err-message">
        {{errorMessage}}
      </span>
    </div>
  </div>

  <div class="form-group" *ngIf="!user?.id">
    <label for="password" class="col-sm-3 col-form-label">{{ 'common.password' | translate }} *</label>
    <div class="col-sm-12">
      <input type="password" class="form-control" id="password" formControlName='password'
             placeholder="{{ 'common.password' | translate }}" required>
      <span *ngIf="(password.dirty || password.touched) && password.invalid && password" class="err-message">
        <span *ngIf="password.errors.required">
         {{ 'user.passwordErrorRequired' | translate }}
        </span>
        <span *ngIf="password.errors.pattern">
          {{ 'user.passwordErrorNotValid' | translate }} <br/>
          {{ 'user.passwordErrorRules' | translate }}
        </span>
      </span>
    </div>
  </div>

  <div class="form-group">
    <nb-checkbox status="success" class="col-sm-4" formControlName='active'>{{ 'user.active' | translate }}</nb-checkbox>
  </div>

  <div class="form-group">
    <label class="col-sm-3 col-form-label">{{ 'user.defaultLanguage' | translate }} *</label>
    <div class="col-sm-12">
      <nb-select *ngIf="languages.length" placeholder="{{ 'user.selectLanguage' | translate }}" formControlName='defaultLanguage' outline
                 shape="rectangle">
        <nb-option *ngFor="let language of languages" [value]="language.code">{{ language.code }}</nb-option>
      </nb-select>
    </div>
  </div>

  <div class="form-group">
  <label class="col-sm-3 col-form-label">{{ 'user.groups' | translate }} *</label>
  <div class="col-sm-12 group-block">
    <nb-checkbox *ngFor="let group of groups" status="success" [value]="group.checked" (change)="group.checked = !group.checked" [disabled]="group.disabled">
      {{ group.name }}
    </nb-checkbox>
  </div>
</div>

  <hr/>

  <div class="form-group actions-button">
    <button type="submit" class="btn btn-primary" (click)="save()" [disabled]="!form.valid && !user?.id">{{ 'common.save' | translate }}</button>
    <button *ngIf="!showRemoveButton" type="submit" class="btn btn-danger" (click)="remove()">{{ 'common.remove' | translate }}</button>
  </div>

</form>
