.page-header {
  font-size: 30px;
  color: black;
  padding-bottom: 10px
}

.page-content {
  display: flex;
  flex-direction: row;
}

nb-card {
  display: flex;
  flex-grow: 1;
  margin-right: 40px;
}

.actions-button {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 20px 15px;
}

.group-block {
  display: flex;
  flex-direction: column;
}

// changing nb styles
nb-card {
  border-top: 3px solid grey !important;
}

nb-card.small-card {
  height: auto !important;
}

nb-card-header {
  background-color: #F5F5F5;
}


// style for error
.err-message {
  color: red;
}
