<form [formGroup]='form'>

  <div class="form-group">
    <label for="firstname" class="col-sm-3 col-form-label">First name *</label>
    <div class="col-sm-12">
      <input type="text" class="form-control" id="firstname" formControlName='firstName'
             placeholder="First name" required>
    </div>
  </div>
  <div class="form-group">
    <label for="lastname" class="col-sm-3 col-form-label">Last name *</label>
    <div class="col-sm-12">
      <input type="text" class="form-control" id="lastname" formControlName='lastName'
             placeholder="Last name" required>
    </div>
  </div>
  <div class="form-group">
    <label for="username" class="col-sm-3 col-form-label">Username *</label>
    <div class="col-sm-12">
      <input type="text" class="form-control" id="username" formControlName='userName'
             placeholder="Username" required>
    </div>
  </div>
  <div class="form-group">
    <label for="email" class="col-sm-3 col-form-label">Email address *</label>
    <div class="col-sm-12">
      <input type="email" class="form-control" id="email" formControlName='emailAddress'
             placeholder="Email" required>
    </div>
  </div>

  <div class="form-group">
    <nb-checkbox status="success" class="col-sm-4" formControlName='active'>Active</nb-checkbox>
  </div>

  <div class="form-group">
    <label class="col-sm-3 col-form-label">Default language *</label>
    <div class="col-sm-12">
      <nb-select placeholder="Select language" formControlName='defaultLanguage' outline shape="rectangle">
        <nb-option *ngFor="let lang of languages" [value]="lang.code">{{lang.code}}</nb-option>
      </nb-select>
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-3 col-form-label">Groups *</label>
    <div class="col-sm-12 group-block">
      <nb-checkbox *ngFor="let group of groups" status="success" [value]="userHasRole(group)" (change)="addRole(group)">
        {{ group.name }}
      </nb-checkbox>
    </div>
  </div>

  <hr/>

  <div class="form-group actions-button">
    <button type="submit" class="btn btn-primary" (click)="save()">Save</button>
    <button *ngIf="!flag" type="submit" class="btn btn-danger" (click)="remove()">Remove</button>
  </div>

</form>
