<nb-card size="small" class="page-card pick-list">
  <div class="selector-wrap">
    <div class="selector-element">
      <nb-select *ngIf="categories.length" placeholder="{{ 'category.category' | translate}}"
                 outline
                 shape="rectangle">
        <nb-option *ngFor="let category of categories" [value]="category.code">{{ category.code }}</nb-option>
      </nb-select>
    </div>
  </div>

  <p-pickList sourceHeader="Available"
              targetHeader="Selected"
              dragdrop="true"
              [responsive]="true"
              [source]="availableList"
              [target]="selectedList"
              sourceFilterPlaceholder="Search"
              targetFilterPlaceholder="Search"
              [showSourceControls]="false"
              [showTargetControls]="false"
              filterBy="code">
    <ng-template let-item pTemplate="item">
      <div class="ui-helper-clearfix item-picklist">
        <div>{{item.id}}</div>
        <div>{{item.description.name}}</div>
      </div>
    </ng-template>
  </p-pickList>
</nb-card>

<nb-card size="small" class="page-card">
  <nb-card-header>
    {{ 'sideNav.categories' | translate}}
  </nb-card-header>
  <nb-card-body [nbSpinner]="loadingList" nbSpinnerSize="large" nbSpinnerStatus="primary">
    <ng2-smart-table [settings]="settings"
                     [source]="source"
                     (custom)="route($event)">
    </ng2-smart-table>

    <ngx-paginator
      (changePage)="changePage($event)"
      [pagesToShow]="5"
      [currentPage]="currentPage"
      [perPage]="perPage"
      [count]="totalCount">
    </ngx-paginator>
  </nb-card-body>
</nb-card>
