.page-header {
  font-size: 30px;
  color: black;
  padding-bottom: 10px
}

.page-content {
  display: flex;
  flex-direction: row;
}

form {
  width: 25%;
}

// changing nb styles
nb-card {
  display: flex;
  flex-grow: 1;
  margin-right: 40px;
  border-top: 3px solid grey !important;
}

nb-card.small-card {
  height: auto !important;
}

nb-card-header {
  background-color: #F5F5F5;
}
