<div class="page-header">
  User
</div>
<ngx-breadcrumb [path]="path"></ngx-breadcrumb>

<div class="page-content">

  <nb-card size="small">
    <nb-card-header>
      Password {{user?.userName}}
    </nb-card-header>
    <nb-card-body>
      <form [formGroup]='form' (ngSubmit)='onSubmit()'>

        <div class="form-group">
          <label for="password" class="col-sm-9 col-form-label">Password</label>
          <div class="col-sm-12">
            <input type="password" class="form-control" id="password" formControlName='password'
                   placeholder="Password" required>
          </div>
        </div>
        <div class="form-group">
          <label for="newPassword" class="col-sm-9 col-form-label">New password</label>
          <div class="col-sm-12">
            <input type="password" class="form-control" id="newPassword" formControlName='newPassword'
                   placeholder="New password" required>
          </div>
        </div>
        <div class="form-group">
          <label for="repeatedNewPassword" class="col-sm-9 col-form-label">Repeat new password</label>
          <div class="col-sm-12">
            <input type="password" class="form-control" id="repeatedNewPassword" formControlName='repeatedNewPassword'
                   placeholder="Repeat new password" required>
          </div>
        </div>

        <hr/>

        <div class="form-group">
          <button type="submit" class="btn btn-primary">Save</button>
        </div>

      </form>


    </nb-card-body>
  </nb-card>

</div>


