<nb-card size="small" class="page-card">
  <nb-card-header>
    {{ 'common.password' | translate }} {{ user?.userName }}
  </nb-card-header>
  <nb-card-body>
    <form [formGroup]='form' (ngSubmit)='onSubmit()'>

      <div class="form-group">
        <label for="password" class="col-sm-9 col-form-label">{{ 'common.password' | translate }}</label>
        <div class="col-sm-12">
          <input type="password" class="form-control" id="password" formControlName='password'
                 placeholder="{{ 'common.password' | translate }}" required>
          <span *ngIf="errorMessage.length !== 0" class="err-message">
              {{errorMessage}}
            </span>
        </div>
      </div>
      <div class="form-group">
        <label for="newPassword" class="col-sm-9 col-form-label">{{ 'user.newPassword' | translate }}</label>
        <div class="col-sm-12">
          <input type="password" class="form-control" id="newPassword" formControlName='newPassword'
                 placeholder="{{ 'user.newPassword' | translate }}" required>
          <span *ngIf="(newPassword.dirty || newPassword.touched) && newPassword.invalid && newPassword"
                class="err-message">
              <span *ngIf="newPassword.errors.required">
                {{ 'user.passwordErrorRequired' | translate }}
              </span>
              <span *ngIf="newPassword.errors.pattern">
                {{ 'user.passwordErrorNotValid' | translate }} <br/>
                {{ 'user.passwordErrorRules' | translate }}
              </span>
            </span>
        </div>
      </div>
      <div class="form-group">
        <label for="confirmNewPassword" class="col-sm-9 col-form-label">{{ 'user.repeatNewPassword' | translate }}</label>
        <div class="col-sm-12">
          <input type="password" class="form-control" id="confirmNewPassword" formControlName='confirmNewPassword'
                 placeholder="{{ 'user.repeatNewPassword' | translate }}" required>
          <span *ngIf="(confirmNewPassword.dirty || confirmNewPassword.touched) && form.hasError('notSame')"
                class="err-message">
              {{ 'user.passwordNotMatch' | translate }}
            </span>
        </div>
      </div>

      <hr/>

      <div class="form-group">
        <button type="submit" [disabled]="!form.valid" class="btn btn-primary">{{ 'common.save' | translate }}</button>
      </div>

    </form>

  </nb-card-body>
</nb-card>

