<div class="page-header">
  User
</div>
<ngx-breadcrumb [path]="path"></ngx-breadcrumb>

<div class="page-content">

  <nb-card size="small" class="page-card">
    <nb-card-header>
      Password {{ user?.userName }}
    </nb-card-header>
    <nb-card-body>
      <form [formGroup]='form' (ngSubmit)='onSubmit()'>

        <div class="form-group">
          <label for="password" class="col-sm-9 col-form-label">Password</label>
          <div class="col-sm-12">
            <input type="password" class="form-control" id="password" formControlName='password'
                   placeholder="Password" required>
            <span *ngIf="errorMessage.length !== ''" class="err-message">
              {{errorMessage}}
            </span>
          </div>
        </div>
        <div class="form-group">
          <label for="newPassword" class="col-sm-9 col-form-label">New password</label>
          <div class="col-sm-12">
            <input type="password" class="form-control" id="newPassword" formControlName='newPassword'
                   placeholder="New password" required>
            <span *ngIf="(newPassword.dirty || newPassword.touched) && newPassword.invalid && newPassword"
                  class="err-message">
              <span *ngIf="newPassword.errors.required">
                Password required.
              </span>
              <span *ngIf="newPassword.errors.pattern">
                Password not valid. <br/>
                Should contains at least 1 character lower case, at least 1 character uppercase, at least 1 digit, 6 to 12 characters
              </span>
            </span>
          </div>
        </div>
        <div class="form-group">
          <label for="confirmNewPassword" class="col-sm-9 col-form-label">Repeat new password</label>
          <div class="col-sm-12">
            <input type="password" class="form-control" id="confirmNewPassword" formControlName='confirmNewPassword'
                   placeholder="Repeat new password" required>
            <span *ngIf="(confirmNewPassword.dirty || confirmNewPassword.touched) && form.hasError('notSame')"
                  class="err-message">
              Passwords do not match.
            </span>
          </div>
        </div>

        <hr/>

        <div class="form-group">
          <button type="submit" [disabled]="!form.valid" class="btn btn-primary">Save</button>
        </div>

      </form>

    </nb-card-body>
  </nb-card>

</div>


