<form [formGroup]='form'>

  <div class="form-group">
    <label for="name" class="col-sm-10 col-form-label">{{ establishmentType + '.' + establishmentType + 'Name' | translate }} *</label>
    <div class="col-sm-12">
      <input type="text" class="form-control" id="name" formControlName='name'
             placeholder="{{ 'store.storeName' | translate }}" required>
      <span *ngIf="(name.dirty || name.touched) && name.invalid && name.errors.required"
            class="err-message">
        {{ establishmentType + '.' + establishmentType + 'NameRequired' | translate }}
      </span>
    </div>
  </div>

  <div class="form-group">
    <label for="code" class="col-sm-10 col-form-label">{{ establishmentType + '.' + establishmentType + 'Code' | translate }} *</label>
    <div class="col-sm-12">
      <input type="text" class="form-control" id="code" formControlName='code'
             placeholder="{{ 'store.storeCode' | translate }}" [readOnly]="isReadonlyCode" required>
      <span *ngIf="(code.dirty || code.touched) && code.invalid && code.errors.required"
            class="err-message">
        {{ 'store.codeRequired' | translate }}
      </span>
    </div>
  </div>

  <div class="form-group">
    <label for="phone" class="col-sm-10 col-form-label">{{ establishmentType + '.' + establishmentType + 'Phone' | translate }} *</label>
    <div class="col-sm-12">
      <input type="text" class="form-control" id="phone" formControlName='phone'
             placeholder="{{ 'store.storePhone' | translate }}" required>
      <span *ngIf="(phone.dirty || phone.touched) && phone.invalid && phone.errors.required"
            class="err-message">
        {{ 'store.phoneRequired' | translate }}
      </span>
    </div>
  </div>

  <div class="form-group">
    <label for="email" class="col-sm-10 col-form-label">{{ establishmentType + '.' + establishmentType + 'Email' | translate }} *</label>
    <div class="col-sm-12">
      <input type="text" class="form-control" id="email" formControlName='email'
             placeholder="{{ 'user.emailAddress' | translate }}" required>
      <span *ngIf="(email.dirty || email.touched) && email.invalid && email"
            class="err-message">
        <span *ngIf="email.errors.email || email.errors.pattern">
          {{ 'user.emailAddressErrorNotValid' | translate }}
        </span>
        <span *ngIf="email.errors.required">
          {{ 'user.emailAddressErrorRequired' | translate }}
        </span>
      </span>
    </div>
  </div>

  <div formGroupName="address" class="address-block">

    <div class="form-group" *ngIf="env?.googleApiKey">
      <div class="col-sm-12">
        <input placeholder="{{ 'store.enterAddress' | translate }}" autocorrect="off" autocapitalize="off" spellcheck="off" type="text"
               class="form-control" #search formControlName="searchControl">
      </div>
    </div>

    <div class="form-group">
      <label for="address" class="col-sm-10 col-form-label">{{ 'store.address' | translate }} *</label>
      <div class="col-sm-12">
        <input type="text" class="form-control" id="address" formControlName='address'
               placeholder="{{ 'store.address' | translate }}" required>
        <span *ngIf="(address.dirty || address.touched) && address.invalid && address.errors.required"
              class="err-message">
          {{ 'store.addressRequired' | translate }}
        </span>
      </div>
    </div>

    <div class="row">

      <div class="form-group col-sm-6">
        <label class="col-sm-10 col-form-label">{{ 'store.stateProvince' | translate }}</label>
        <div class="col-sm-12">
          <nb-select *ngIf="provinces.length; else chooseCountry" placeholder="{{ 'store.stateProvince' | translate }}"
                     formControlName='stateProvince' outline [selected]="stateProvince.value"
                     shape="rectangle">
            <nb-option *ngFor="let province of provinces" [value]="province.code">{{ province.name }}</nb-option>
          </nb-select>
          <ng-template #chooseCountry>
            <nb-select placeholder="{{ 'store.stateProvince' | translate }}" shape="rectangle" outline disabled>
              <nb-option></nb-option>
            </nb-select>
          </ng-template>
        </div>
      </div>

      <div class="form-group col-sm-6">
        <label for="postalCode" class="col-sm-10 col-form-label">{{ 'store.postalCode' | translate }} *</label>
        <div class="col-sm-12">
          <input type="text" class="form-control" id="postalCode" formControlName='postalCode'
                 placeholder="{{ 'store.postalCode' | translate }}" required>
          <span *ngIf="(postalCode.dirty || postalCode.touched) && postalCode.invalid && postalCode.errors.required"
                class="err-message">
            {{ 'store.postalCodeRequired' | translate }}
          </span>
        </div>
      </div>

    </div>

    <div class="form-group">
      <label for="city" class="col-sm-10 col-form-label">{{ 'store.storeCity' | translate }} *</label>
      <div class="col-sm-12">
        <input type="text" class="form-control" id="city" formControlName='city'
               placeholder="{{ 'store.storeCity' | translate }}" required>
        <span *ngIf="(city.dirty || city.touched) && city.invalid && city.errors.required"
              class="err-message">
          {{ 'store.cityCodeRequired' | translate }}
        </span>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-10 col-form-label">{{ 'store.storeCountry' | translate }} *</label>
      <div class="col-sm-12">
        <nb-select *ngIf="countries.length" placeholder="{{ 'store.storeCountry' | translate }}" formControlName='country' outline
                   shape="rectangle" (selectedChange)="countryIsSelected($event)">
          <nb-option *ngFor="let country of countries" [value]="country.code">{{ country.code }}</nb-option>
        </nb-select>
      </div>
    </div>

  </div>

  <div class="form-group">
    <label class="col-sm-10 col-form-label">{{ 'store.supportedLanguages' | translate }} *</label>
    <div class="col-sm-12 group-block">
      <nb-checkbox *ngFor="let language of supportedLanguages" status="success"
                   [value]="userHasSupportedLanguage(language)"
                   (change)="addSupportedLanguage(language.code)">
        {{ language.code }}
      </nb-checkbox>
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-10 col-form-label">{{ 'user.defaultLanguage' | translate }} *</label>
    <div class="col-sm-12">
      <nb-select *ngIf="supportedLanguages.length" placeholder="{{ 'user.defaultLanguage' | translate }}" formControlName='defaultLanguage'
                 outline
                 shape="rectangle">
        <nb-option *ngFor="let language of supportedLanguages" [value]="language.code">{{ language.code }}</nb-option>
      </nb-select>
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-10 col-form-label">{{ 'store.storeCurrency' | translate }}</label>
    <div class="col-sm-12">
      <nb-select *ngIf="supportedCurrency.length" placeholder="{{ 'store.storeCurrency' | translate }}" formControlName='currency'
                 outline
                 shape="rectangle">
        <nb-option *ngFor="let currency of supportedCurrency" [value]="currency.code">{{ currency.code }}</nb-option>
      </nb-select>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-12 group-block">
      <nb-checkbox status="success" formControlName='currencyFormatNational'>
        {{ 'store.currencyFormat' | translate }}
      </nb-checkbox>
    </div>
    <div class="col-sm-12">
      {{ 'store.currencyFormatRule' | translate }}
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-10 col-form-label">{{ 'store.weightUnits' | translate }} *</label>
    <div class="col-sm-12">
      <nb-select *ngIf="weightList.length" placeholder="{{ 'store.weightUnits' | translate }}" formControlName='weight' outline
                 shape="rectangle">
        <nb-option *ngFor="let el of weightList" [value]="el">{{ el }}</nb-option>
      </nb-select>
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-10 col-form-label">{{ 'store.sizeUnits' | translate }} *</label>
    <div class="col-sm-12">
      <nb-select *ngIf="sizeList.length" placeholder="{{ 'store.sizeUnits' | translate }}" formControlName='dimension' outline
                 shape="rectangle">
        <nb-option *ngFor="let el of sizeList" [value]="el">{{ el }}</nb-option>
      </nb-select>
    </div>
  </div>

  <div class="form-group">
    <label for="city" class="col-sm-10 col-form-label">{{ 'store.operatingSince' | translate }}</label>
    <div class="col-sm-12">
      <input class="form-control has-person-icon" nbInput placeholder="Form Picker" formControlName='inBusinessSince'
             [nbDatepicker]="formpicker">
      <nb-datepicker #formpicker></nb-datepicker>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-12 group-block">
      <nb-checkbox status="success" formControlName='useCache'>
        {{ 'store.useCache' | translate }}
      </nb-checkbox>
    </div>
  </div>

<!--  TODO-->
  <div *ngIf="establishmentType === 'retailer' && (userService.roles.isSuperadmin || userService.roles.isAdminRetail)">
    <div class="form-group">
      <div class="col-sm-12 group-block">
        <nb-checkbox status="success" formControlName='isRetailer' (change)="showRetailers(isRetailer.value)">
          {{ 'sideNav.retailer' | translate }}
        </nb-checkbox>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-10 col-form-label">{{ 'retailer.selectRetailer' | translate }} *</label>
      <div class="col-sm-12">
        <nb-select *ngIf="fakeRetailerArray.length" placeholder="{{ 'retailer.selectRetailer' | translate }}" formControlName='retailer' outline
                   shape="rectangle">
          <nb-option *ngFor="let el of fakeRetailerArray" [value]="el">{{ el }}</nb-option>
        </nb-select>
      </div>
    </div>
  </div>



  <hr/>

  <div class="form-group actions-button">
    <button *ngIf="isAdminStore" type="submit" class="btn btn-primary" (click)="save()" [disabled]="!form.valid">{{ 'common.save' | translate}}</button>
    <button *ngIf="!showRemoveButton" type="submit" class="btn btn-danger" (click)="remove()">{{ 'common.remove' | translate}}</button>
  </div>

</form>
