<form [formGroup]='form'>

  <div class="form-group">
    <label for="name" class="col-sm-10 col-form-label">Store name *</label>
    <div class="col-sm-12">
      <input type="text" class="form-control" id="name" formControlName='name'
             placeholder="Store name" required>
    </div>
  </div>


  <div class="form-group">
    <label for="code" class="col-sm-10 col-form-label">Unique Store Code *</label>
    <div class="col-sm-12">
      <input type="text" class="form-control" id="code" formControlName='code'
             placeholder="Unique Store Code" required>
    </div>
  </div>


  <div class="form-group">
    <label for="phone" class="col-sm-10 col-form-label">Store phone *</label>
    <div class="col-sm-12">
      <input type="text" class="form-control" id="phone" formControlName='phone'
             placeholder="Store phone" required>
    </div>
  </div>

  <div class="form-group">
    <label for="email" class="col-sm-10 col-form-label">Store email address *</label>
    <div class="col-sm-12">
      <input type="text" class="form-control" id="email" formControlName='email'
             placeholder="First name" required>
    </div>
  </div>

  <div formGroupName="address" class="address-block">

    <div class="form-group">
      <div class="col-sm-12">
        <input type="text" class="form-control" id="fullAddress" placeholder="Enter your address" required>
      </div>
    </div>

    <div class="form-group">
      <label for="address" class="col-sm-3 col-form-label">address *</label>
      <div class="col-sm-12">
        <input type="text" class="form-control" id="address" formControlName='address'
               placeholder="address" required>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-3 col-form-label">state/Province*</label>
      <div class="col-sm-12">
        <!--<nb-select *ngIf="languages.length" placeholder="Select language" formControlName='stateProvince' outline-->
        <!--shape="rectangle">-->
        <!--<nb-option *ngFor="let language of languages" [value]="language.code">{{ language.code }}</nb-option>-->
        <!--</nb-select>-->
      </div>
    </div>

    <div class="form-group">
      <label for="city" class="col-sm-3 col-form-label">city *</label>
      <div class="col-sm-12">
        <input type="text" class="form-control" id="city" formControlName='city'
               placeholder="postalCode" required>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-3 col-form-label">country*</label>
      <div class="col-sm-12">
        <!--<nb-select *ngIf="languages.length" placeholder="Select language" formControlName='stateProvince' outline-->
        <!--shape="rectangle">-->
        <!--<nb-option *ngFor="let language of languages" [value]="language.code">{{ language.code }}</nb-option>-->
        <!--</nb-select>-->
      </div>
    </div>


  </div>


  <!--<div class="form-group">-->
  <!--<label for="name" class="col-sm-3 col-form-label">First name *</label>-->
  <!--<div class="col-sm-12">-->
  <!--<input type="text" class="form-control" id="name" formControlName='name'-->
  <!--placeholder="First name" required>-->
  <!--</div>-->
  <!--</div>-->


  <!--<div class="form-group">-->
  <!--<label for="name" class="col-sm-3 col-form-label">First name *</label>-->
  <!--<div class="col-sm-12">-->
  <!--<input type="text" class="form-control" id="name" formControlName='name'-->
  <!--placeholder="First name" required>-->
  <!--</div>-->
  <!--</div>-->

  <!--<div class="form-group">-->
  <!--<label class="col-sm-3 col-form-label">Default language *</label>-->
  <!--<div class="col-sm-12">-->
  <!--<nb-select *ngIf="languages.length" placeholder="Select language" formControlName='defaultLanguage' outline-->
  <!--shape="rectangle">-->
  <!--<nb-option *ngFor="let language of languages" [value]="language.code">{{ language.code }}</nb-option>-->
  <!--</nb-select>-->
  <!--</div>-->
  <!--</div>-->

  <!--<div class="form-group">-->
  <!--<label class="col-sm-3 col-form-label">Default language *</label>-->
  <!--<div class="col-sm-12">-->
  <!--<nb-select *ngIf="languages.length" placeholder="Select language" formControlName='defaultLanguage' outline-->
  <!--shape="rectangle">-->
  <!--<nb-option *ngFor="let language of languages" [value]="language.code">{{ language.code }}</nb-option>-->
  <!--</nb-select>-->
  <!--</div>-->
  <!--</div>-->

  <!--<div class="form-group">-->
  <!--<label for="name" class="col-sm-3 col-form-label">First name *</label>-->
  <!--<div class="col-sm-12">-->
  <!--<input type="text" class="form-control" id="name" formControlName='name'-->
  <!--placeholder="First name" required>-->
  <!--</div>-->
  <!--</div>-->

  <hr/>

  <div class="form-group actions-button">
    <button type="submit" class="btn btn-primary" (click)="save()" [disabled]="!form.valid && !store?.id">Save</button>
    <!--<button *ngIf="!showRemoveButton" type="submit" class="btn btn-danger" (click)="remove()">Remove</button>-->
  </div>


</form>
