<ngx-back-button></ngx-back-button>
<nb-card size="small" class="page-card pick-list">
  <div class="selector-wrap">
    <div class="selector-element">
      <nb-actions size="medium" class="back-button">
        <nb-action class="action-padding">
          <a [routerLink]="['/pages/catalogue/catalogues/create-catalogue']">
            {{ 'COMPONENTS.CREATE_CATALOGUE' | translate}}
          </a>
        </nb-action>
      </nb-actions>
      <nb-select *ngIf="availableList.length" placeholder="{{ 'COMPONENTS.CATALOGUES' | translate}}"
                 outline
                 shape="rectangle">
        <nb-option *ngFor="let manufacturer of availableList"
                   [value]="manufacturer.code" (click)="selectGroup(manufacturer.code)">{{ manufacturer.code }}</nb-option>
      </nb-select>
    </div>
  </div>

  <p-pickList sourceHeader="{{ 'COMMON.AVAILABLE' | translate}}"
              targetHeader="{{ 'COMMON.SELECTED' | translate}}"
              dragdrop="true"
              [responsive]="true"
              [source]="availableList"
              [target]="selectedList"
              sourceFilterPlaceholder="{{ 'COMMON.SEARCH' | translate}}"
              targetFilterPlaceholder="{{ 'COMMON.SEARCH' | translate}}"
              [disabled]="!selectedGroup"
              [showSourceControls]="false"
              [showTargetControls]="false"
              (onMoveToTarget)="moveEvent($event, 'toTarget')"
              (onMoveToSource)="moveEvent($event, 'toSource')"
              (onMoveAllToTarget)="moveEvent($event, 'allToTarget')"
              (onMoveAllToSource)="moveEvent($event, 'allToSource')"
              filterBy="code">
    <ng-template let-item pTemplate="item">
      <div class="ui-helper-clearfix">
        <div style="font-size:14px;margin:15px 5px 0 0">{{item.code}}</div>
      </div>
    </ng-template>
  </p-pickList>
</nb-card>
