<nb-card size="small" class="page-card">
  <nb-card-header>
    {{ 'store.storeInfo' | translate}}
  </nb-card-header>
  <nb-card-body>
    <span>
      {{ 'store.infoText' | translate}}
    </span>
    <div *ngIf="loading" class="loading-block" [nbSpinner]="loading" nbSpinnerSize="large"
         nbSpinnerStatus="primary"></div>
    <form *ngIf="!loading" [formGroup]='form'>
      <div class="form-group">
        <label class="col-sm-10 col-form-label">{{ 'common.language' | translate}}</label>
        <div class="col-sm-12">
          <nb-select *ngIf="languages.length" placeholder="{{ 'user.selectLanguage' | translate}}" formControlName='language' outline
                     shape="rectangle">
            <nb-option *ngFor="let language of languages" [value]="language.code">{{ language.code }}</nb-option>
          </nb-select>
        </div>
      </div>

      <hr/>

      <div class="form-group">
        <label for="title" class="col-sm-10 col-form-label">{{ 'store.landingTitle' | translate}}*</label>
        <div class="col-sm-12">
          <input type="text" class="form-control" id="title" formControlName='title'
                 placeholder="Page title" required>
          <span *ngIf="(title.dirty || title.touched) && title.invalid && title.errors.required" class="err-message">
            {{ 'store.landingTitle' | translate}}
          </span>
        </div>
      </div>

      <div class="form-group">
        <label for="metaDetails" class="col-sm-10 col-form-label">{{ 'store.tagDescription' | translate}}</label>
        <div class="col-sm-12">
          <input type="text" class="form-control" id="metaDetails" formControlName='metaDetails'
                 placeholder="Meta tags description" required>
        </div>
      </div>

      <div class="form-group">
        <label for="metaDetails" class="col-sm-10 col-form-label">{{ 'store.landingText' | translate}}</label>
        <div class="col-sm-12">
          <div formControlName="pageContent"
               [ngxSummernote]="config">
          </div>
        </div>
      </div>

      <hr/>

      <div class="form-group actions-button">
        <button type="submit" class="btn btn-primary"
                (click)="save()"
                [disabled]="!form.valid"
                nbButton [nbSpinner]="loadingButton"
                nbSpinnerSize="large"
                nbSpinnerMessage="">{{ 'common.save' | translate}}
        </button>
      </div>

    </form>
  </nb-card-body>
</nb-card>

