@import './custom/overrided-styles';
@import './custom/errors';

.page-header {
  font-size: 30px;
  color: black;
  padding-bottom: 10px
}

.page-content {
  display: flex;
  flex-direction: row;
}

.page-card {
  border-top: 3px solid grey !important;
}

.page-body {
  width: 100%;
}

// form styles
.actions-button {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 20px 15px;
}

.group-block {
  display: flex;
  flex-direction: column;
}

.loading-block {
  width: 100%;
  height: 100px;
}
// back to list button
.back-button {
  cursor: pointer;
}

// custom action column in table
ng2-st-tbody-custom {
  display: flex;
  flex-direction: row;
}

// styles for selector with

.selector-wrap {
  display: flex;
  flex-direction: row-reverse;
  .selector-element {
    width: 45%;
    margin-bottom: 20px;
  }
}

.pick-list {
  padding: 20px;
}

.right-card-button {
  display: block !important;
  margin-left: auto;
}
