@import './custom/overrided-styles';
@import './custom/errors';

.page-header {
  font-size: 30px;
  color: black;
  padding-bottom: 10px
}

.page-content {
  display: flex;
  flex-direction: row;
}

.page-card {
  border-top: 3px solid grey !important;
}

.page-body {
  width: 100%;
}

// form styles
.actions-button {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 20px 15px;
}

.group-block {
  display: flex;
  flex-direction: column;
}
