// themes - our custom or/and out of the box themes
@import 'themes';
@import '~angular-tree-component/dist/angular-tree-component.css';

// framework component themes (styles tied to theme variables)
@import '~@nebular/theme/styles/globals';
@import '~@nebular/auth/styles/all';
@import '~@nebular/bootstrap/styles/globals';
// ...

// global app font size
@import './font-size';

// loading progress bar theme
@import './pace.theme';

// regular style toast
@import '~ngx-toastr/toastr';

// install the framework and custom global styles
@include nb-install() {

  // framework global styles
  @include nb-theme-global();
  @include nb-auth-global();
  @include nb-bootstrap-global();

  // loading progress bar
  @include ngx-pace-theme();
}

;

// CUSTOM STYLES
@import 'custom';



// table css //
// files-content {
//   nb-card-header {}

//   nb-card-body {
//     .home-table {
//       table {
//         border: 0px;
//         border-collapse: inherit !important;
//         border-spacing: 0 5px !important;

//         tbody {
//           tr {
//             td {
//               ng2-st-tbody-custom {
//                 a.ng2-smart-action:not(:last-child) {
//                   padding-right: 7px;
//                   margin-right: 7px;
//                 }

//                 a.ng2-smart-action {
//                   .nb-edit {
//                     &:before {
//                       font-size: 24px !important;
//                       color: #ffbe00;
//                     }
//                   }

//                   .nb-trash {
//                     &:before {
//                       font-size: 24px !important;
//                       color: #ff0018;
//                     }
//                   }
//                 }
//               }
//             }
//           }
//         }

//         thead,
//         tbody {
//           tr {
//             background-color: #ffffff !important;
//             -moz-box-shadow: 0 0 8px #eeeeee;
//             -webkit-box-shadow: 0 0 8px #eeeeee;
//             box-shadow: 0 0 8px #eeeeee;
//           }
//         }

//         thead {
//           border: 0px;

//           tr {
//             border-bottom: 1px solid #cdd5dc;

//             td,
//             th {
//               border: 0;
//               padding: 16px 20px !important;

//               &:first-child {
//                 border-top-left-radius: 5px;
//                 border-bottom-left-radius: 5px;
//               }

//               &:last-child {
//                 border-top-right-radius: 5px;
//                 border-bottom-right-radius: 5px;
//               }

//             }
//           }
//         }

//         tbody {
//           border: 0px;

//           tr {

//             td,
//             th {
//               padding: 12px 20px !important;
//               border: 0;

//               &:first-child {
//                 border-top-left-radius: 5px;
//                 border-bottom-left-radius: 5px;
//               }

//               &:last-child {
//                 border-top-right-radius: 5px;
//                 border-bottom-right-radius: 5px;
//               }

//             }
//           }

//           // tr:nth-of-type(even) {
//           //   background-color: red;
//           // }
//         }
//       }
//     }
//   }
// }

// page-table {
//   nb-card-header {}

//   nb-card-body {
//     .home-table {
//       table {
//         border: 0px;
//         border-collapse: inherit !important;
//         border-spacing: 0 5px !important;

//         tbody {
//           tr {
//             td {
//               ng2-st-tbody-custom {
//                 a.ng2-smart-action:not(:last-child) {
//                   padding-right: 7px;
//                   margin-right: 7px;
//                 }

//                 a.ng2-smart-action {
//                   .nb-edit {
//                     &:before {
//                       font-size: 24px !important;
//                       color: #ffbe00;
//                     }
//                   }

//                   .nb-trash {
//                     &:before {
//                       font-size: 24px !important;
//                       color: #ff0018;
//                     }
//                   }
//                 }
//               }
//             }
//           }
//         }

//         thead,
//         tbody {
//           tr {
//             background-color: #ffffff !important;
//             -moz-box-shadow: 0 0 8px #eeeeee;
//             -webkit-box-shadow: 0 0 8px #eeeeee;
//             box-shadow: 0 0 8px #eeeeee;
//           }
//         }

//         thead {
//           border: 0px;

//           tr {
//             border-bottom: 1px solid #cdd5dc;

//             td,
//             th {
//               border: 0;
//               padding: 16px 20px !important;

//               &:first-child {
//                 border-top-left-radius: 5px;
//                 border-bottom-left-radius: 5px;
//               }

//               &:last-child {
//                 border-top-right-radius: 5px;
//                 border-bottom-right-radius: 5px;
//               }

//             }
//           }
//         }

//         tbody {
//           border: 0px;

//           tr {

//             td,
//             th {
//               padding: 12px 20px !important;
//               border: 0;

//               &:first-child {
//                 border-top-left-radius: 5px;
//                 border-bottom-left-radius: 5px;
//               }

//               &:last-child {
//                 border-top-right-radius: 5px;
//                 border-bottom-right-radius: 5px;
//               }

//             }
//           }

//           // tr:nth-of-type(even) {
//           //   background-color: red;
//           // }
//         }
//       }
//     }
//   }
// }

// ngx-list {
//   nb-card-header {}

//   nb-card-body {
//     .home-table {
//       table {
//         border: 0px;
//         border-collapse: inherit !important;
//         border-spacing: 0 5px !important;

//         tbody {
//           tr {
//             td {
//               ng2-st-tbody-custom {
//                 a.ng2-smart-action:not(:last-child) {
//                   padding-right: 7px;
//                   margin-right: 7px;
//                 }

//                 a.ng2-smart-action {
//                   .nb-edit {
//                     &:before {
//                       font-size: 24px !important;
//                       color: #ffbe00;
//                     }
//                   }

//                   .nb-trash {
//                     &:before {
//                       font-size: 24px !important;
//                       color: #ff0018;
//                     }
//                   }
//                 }
//               }
//             }
//           }
//         }

//         thead,
//         tbody {
//           tr {
//             background-color: #ffffff !important;
//             -moz-box-shadow: 0 0 8px #eeeeee;
//             -webkit-box-shadow: 0 0 8px #eeeeee;
//             box-shadow: 0 0 8px #eeeeee;
//           }
//         }

//         thead {
//           border: 0px;

//           tr {
//             border-bottom: 1px solid #cdd5dc;

//             td,
//             th {
//               border: 0;
//               padding: 16px 20px !important;

//               &:first-child {
//                 border-top-left-radius: 5px;
//                 border-bottom-left-radius: 5px;
//               }

//               &:last-child {
//                 border-top-right-radius: 5px;
//                 border-bottom-right-radius: 5px;
//               }

//             }
//           }
//         }

//         tbody {
//           border: 0px;

//           tr {

//             td,
//             th {
//               padding: 12px 20px !important;
//               border: 0;

//               &:first-child {
//                 border-top-left-radius: 5px;
//                 border-bottom-left-radius: 5px;
//               }

//               &:last-child {
//                 border-top-right-radius: 5px;
//                 border-bottom-right-radius: 5px;
//               }

//             }
//           }

//           // tr:nth-of-type(even) {
//           //   background-color: red;
//           // }
//         }
//       }
//     }
//   }
// }

// ngx-option-list {
//   nb-card-header {}

//   nb-card-body {
//     .home-table {
//       table {
//         border: 0px;
//         border-collapse: inherit !important;
//         border-spacing: 0 5px !important;

//         tbody {
//           tr {
//             td {
//               ng2-st-tbody-custom {
//                 a.ng2-smart-action:not(:last-child) {
//                   padding-right: 7px;
//                   margin-right: 7px;
//                 }

//                 a.ng2-smart-action {
//                   .nb-edit {
//                     &:before {
//                       font-size: 24px !important;
//                       color: #ffbe00;
//                     }
//                   }

//                   .nb-trash {
//                     &:before {
//                       font-size: 24px !important;
//                       color: #ff0018;
//                     }
//                   }
//                 }
//               }
//             }
//           }
//         }

//         thead,
//         tbody {
//           tr {
//             background-color: #ffffff !important;
//             -moz-box-shadow: 0 0 8px #eeeeee;
//             -webkit-box-shadow: 0 0 8px #eeeeee;
//             box-shadow: 0 0 8px #eeeeee;
//           }
//         }

//         thead {
//           border: 0px;

//           tr {
//             border-bottom: 1px solid #cdd5dc;

//             td,
//             th {
//               border: 0;
//               padding: 16px 20px !important;

//               &:first-child {
//                 border-top-left-radius: 5px;
//                 border-bottom-left-radius: 5px;
//               }

//               &:last-child {
//                 border-top-right-radius: 5px;
//                 border-bottom-right-radius: 5px;
//               }

//             }
//           }
//         }

//         tbody {
//           border: 0px;

//           tr {

//             td,
//             th {
//               padding: 12px 20px !important;
//               border: 0;

//               &:first-child {
//                 border-top-left-radius: 5px;
//                 border-bottom-left-radius: 5px;
//               }

//               &:last-child {
//                 border-top-right-radius: 5px;
//                 border-bottom-right-radius: 5px;
//               }

//             }
//           }

//           // tr:nth-of-type(even) {
//           //   background-color: red;
//           // }
//         }
//       }
//     }
//   }
// }

// ngx-value-list {
//   nb-card-header {}

//   nb-card-body {
//     .home-table {
//       table {
//         border: 0px;
//         border-collapse: inherit !important;
//         border-spacing: 0 5px !important;

//         tbody {
//           tr {
//             td {
//               ng2-st-tbody-custom {
//                 a.ng2-smart-action:not(:last-child) {
//                   padding-right: 7px;
//                   margin-right: 7px;
//                 }

//                 a.ng2-smart-action {
//                   .nb-edit {
//                     &:before {
//                       font-size: 24px !important;
//                       color: #ffbe00;
//                     }
//                   }

//                   .nb-trash {
//                     &:before {
//                       font-size: 24px !important;
//                       color: #ff0018;
//                     }
//                   }
//                 }
//               }
//             }
//           }
//         }

//         thead,
//         tbody {
//           tr {
//             background-color: #ffffff !important;
//             -moz-box-shadow: 0 0 8px #eeeeee;
//             -webkit-box-shadow: 0 0 8px #eeeeee;
//             box-shadow: 0 0 8px #eeeeee;
//           }
//         }

//         thead {
//           border: 0px;

//           tr {
//             border-bottom: 1px solid #cdd5dc;

//             td,
//             th {
//               border: 0;
//               padding: 16px 20px !important;

//               &:first-child {
//                 border-top-left-radius: 5px;
//                 border-bottom-left-radius: 5px;
//               }

//               &:last-child {
//                 border-top-right-radius: 5px;
//                 border-bottom-right-radius: 5px;
//               }

//             }
//           }
//         }

//         tbody {
//           border: 0px;

//           tr {

//             td,
//             th {
//               padding: 12px 20px !important;
//               border: 0;

//               &:first-child {
//                 border-top-left-radius: 5px;
//                 border-bottom-left-radius: 5px;
//               }

//               &:last-child {
//                 border-top-right-radius: 5px;
//                 border-bottom-right-radius: 5px;
//               }

//             }
//           }

//           // tr:nth-of-type(even) {
//           //   background-color: red;
//           // }
//         }
//       }
//     }
//   }
// }

// ngx-manage-list {
//   nb-card-header {}

//   nb-card-body {
//     .home-table {
//       table {
//         border: 0px;
//         border-collapse: inherit !important;
//         border-spacing: 0 5px !important;

//         tbody {
//           tr {
//             td {
//               ng2-st-tbody-custom {
//                 a.ng2-smart-action:not(:last-child) {
//                   padding-right: 7px;
//                   margin-right: 7px;
//                 }

//                 a.ng2-smart-action {
//                   .nb-edit {
//                     &:before {
//                       font-size: 24px !important;
//                       color: #ffbe00;
//                     }
//                   }

//                   .nb-trash {
//                     &:before {
//                       font-size: 24px !important;
//                       color: #ff0018;
//                     }
//                   }
//                 }
//               }
//             }
//           }
//         }

//         thead,
//         tbody {
//           tr {
//             background-color: #ffffff !important;
//             -moz-box-shadow: 0 0 8px #eeeeee;
//             -webkit-box-shadow: 0 0 8px #eeeeee;
//             box-shadow: 0 0 8px #eeeeee;
//           }
//         }

//         thead {
//           border: 0px;

//           tr {
//             border-bottom: 1px solid #cdd5dc;

//             td,
//             th {
//               border: 0;
//               padding: 16px 20px !important;

//               &:first-child {
//                 border-top-left-radius: 5px;
//                 border-bottom-left-radius: 5px;
//               }

//               &:last-child {
//                 border-top-right-radius: 5px;
//                 border-bottom-right-radius: 5px;
//               }

//             }
//           }
//         }

//         tbody {
//           border: 0px;

//           tr {

//             td,
//             th {
//               padding: 12px 20px !important;
//               border: 0;

//               &:first-child {
//                 border-top-left-radius: 5px;
//                 border-bottom-left-radius: 5px;
//               }

//               &:last-child {
//                 border-top-right-radius: 5px;
//                 border-bottom-right-radius: 5px;
//               }

//             }
//           }

//           // tr:nth-of-type(even) {
//           //   background-color: red;
//           // }
//         }
//       }
//     }
//   }
// }

// ngx-content-management {
//   nb-card-header {}

//   nb-card-body {
//     .home-table {
//       table {
//         border: 0px;
//         border-collapse: inherit !important;
//         border-spacing: 0 5px !important;

//         tbody {
//           tr {
//             td {
//               ng2-st-tbody-custom {
//                 a.ng2-smart-action:not(:last-child) {
//                   padding-right: 7px;
//                   margin-right: 7px;
//                 }

//                 a.ng2-smart-action {
//                   .nb-edit {
//                     &:before {
//                       font-size: 24px !important;
//                       color: #ffbe00;
//                     }
//                   }

//                   .nb-trash {
//                     &:before {
//                       font-size: 24px !important;
//                       color: #ff0018;
//                     }
//                   }
//                 }
//               }
//             }
//           }
//         }

//         thead,
//         tbody {
//           tr {
//             background-color: #ffffff !important;
//             -moz-box-shadow: 0 0 8px #eeeeee;
//             -webkit-box-shadow: 0 0 8px #eeeeee;
//             box-shadow: 0 0 8px #eeeeee;
//           }
//         }

//         thead {
//           border: 0px;

//           tr {
//             border-bottom: 1px solid #cdd5dc;

//             td,
//             th {
//               border: 0;
//               padding: 16px 20px !important;

//               &:first-child {
//                 border-top-left-radius: 5px;
//                 border-bottom-left-radius: 5px;
//               }

//               &:last-child {
//                 border-top-right-radius: 5px;
//                 border-bottom-right-radius: 5px;
//               }

//             }
//           }
//         }

//         tbody {
//           border: 0px;

//           tr {

//             td,
//             th {
//               padding: 12px 20px !important;
//               border: 0;

//               &:first-child {
//                 border-top-left-radius: 5px;
//                 border-bottom-left-radius: 5px;
//               }

//               &:last-child {
//                 border-top-right-radius: 5px;
//                 border-bottom-right-radius: 5px;
//               }

//             }
//           }

//           // tr:nth-of-type(even) {
//           //   background-color: red;
//           // }
//         }
//       }
//     }
//   }
// }

// .promotion {
//   .q-rule {
//     border: 0px !important;
//     background: white;
//   }

//   .q-remove-button {
//     border: 0px !important
//   }

//   .q-ruleset {
//     border: 0px !important;
//   }
// }

.nb-theme-corporate nb-card.select.primary {
  border: 2px solid #dadfe6 !important;
  box-shadow: 3px -3px 5px #66666638;
  // margin-left: 19px;
}

.nb-theme-corporate [nbButton].btn-outline.btn-primary {
  border: 2px solid #dadfe6 !important;
}

.nb-theme-corporate [nbButton].btn-outline.btn-primary::placeholder {
  color: #dadfe6 !important
}

.nb-theme-corporate [nbButton].btn-outline.btn-primary:active {
  background-color: transparent !important;
  color: #dadfe6 !important
}

.nb-theme-corporate [nbButton].btn-outline.btn-primary:hover {
  background-color: transparent !important;
  color: #dadfe6 !important
}