<nb-card size="small">
  <nb-card-header>
    Store information
  </nb-card-header>
  <nb-card-body>

    <div class="info-block">
      <span>{{user?.merchantName}}</span>
      <span>{{user?.address}}</span>
      <span>{{user?.city}}, {{user?.stateProvince}}, {{user?.postalCode}}</span>
      <span>{{user?.country}}</span>
      <span>{{user?.phone}}</span>
    </div>

    <div class="info-block">
      <span>
        <i class="fa fa-user"></i>
        {{user?.userName}}
      </span>
      <span>
      <i class="fa fa-calendar-alt"></i>
      Last access: {{user?.lastAccess | date : 'medium'}}
      </span>
    </div>


  </nb-card-body>
</nb-card>

<nb-card size="small">
  <nb-card-header>
    Recent orders
  </nb-card-header>
  <nb-card-body>
    <ngx-order-list></ngx-order-list>
  </nb-card-body>
</nb-card>
