.info-block {
  display: flex;
  flex-direction: column;
}

.info-block:last-child {
  margin-top: 20px;
}

// changing nb styles
nb-card.small-card {
  height: auto !important;
}
nb-card-header {
  background-color: #F5F5F5;
}
