<h1 class="page_title">Manage Image</h1>
<nb-card>
  <nb-card-header>
    <!-- <div class="buttons-row">
      <button nbButton (click)="addBoxes()">
        Create Box
      </button>
    </div> -->
  </nb-card-header>

  <nb-card-body [nbSpinner]="loadingList" nbSpinnerSize="large" nbSpinnerStatus="primary">

    <div class="row">
      <div *ngFor="let images of uploadedFiles" class="col-md-2">
        <!-- <div class="card" *ngIf='image.status == sTab.status'> -->
        <div class="image-title">
          <!-- <p>Index : {{ i }}</p> -->
          <small>{{images.name}}</small>

        </div>
        <div class="card-body" *ngIf="images.contentType == 1">
          <span class="nb-close"></span>
          <img src="{{images.path}}" class="banner-image">
        </div>
        <div class="card-body" *ngIf="images.contentType != 1">
          <span class="nb-close" (click)="removeImage(images.name)"></span>
          <img src="{{images.path}}{{images.name}}" class="banner-image">
        </div>
      </div>
    </div>
    <!-- <div *ngFor="let images of uploadedFiles">
        <img src="{{images.path}}{{images.name}}" class="banner-image" />
      </div> -->

    <div class="containerUpload">
      <div class="contentUpload">
        <upload [onUpload]="handleUpload" [multi]="true"></upload>
      </div>
    </div>
  </nb-card-body>
</nb-card>
