<div class="inner_pages">
  <h1 class="page_title page_title_marg">Manage Image</h1>

  <div class="row" [nbSpinner]="loadingList" nbSpinnerSize="large" nbSpinnerStatus="primary">
    <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12">
      <ul class="gallery_listing_main">
        <li *ngFor="let images of uploadedFiles;let i=index">
          <div class="gallery_listing_box">
            <div class="image-title-main">
              <p class="image-title">{{images.name}}</p>
              <span class="nb-close"></span>
              <span class="nb-close" (click)="removeImage(images.name)"></span>
            </div>
            <div *ngIf="images.contentType == 1">
              <img src="{{images.path}}" class="banner-image">
            </div>
            <div *ngIf="images.contentType != 1">
              <img src="{{images.path}}{{images.name}}" class="banner-image" (click)="openImage(i)">
            </div>
          </div>
        </li>
        <li>
          <upload [onUpload]="handleUpload" [multi]="true"></upload>
        </li>
      </ul>

    </div>
  </div>

</div>
