<nb-card size="small" class="page-card pick-list">
  <div class="selector-wrap">
    <div class="selector-element">
      <nb-actions size="medium" class="back-button">
        <nb-action class="action-padding">
          <a [routerLink]="['/pages/catalogue/products-groups/create-products-group']">
            {{ 'PRODUCT_GROUP.CREATE_PRODUCT_GROUP' | translate}}
          </a>
        </nb-action>
      </nb-actions>
      <nb-select *ngIf="groups.length" placeholder="{{ 'PRODUCT_GROUP.SELECT_PRODUCT_GROUP' | translate}}"
                 outline
                 shape="rectangle">
        <nb-option *ngFor="let group of groups" [value]="group.code"
                   (click)="selectGroup(group.code)">{{ group.code }}</nb-option>
      </nb-select>
    </div>
  </div>

  <p-pickList sourceHeader="{{ 'COMMON.AVAILABLE' | translate}}"
              targetHeader="{{ 'COMMON.SELECTED' | translate}}"
              dragdrop="true"
              [responsive]="true"
              [source]="availableList"
              [target]="selectedList"
              sourceFilterPlaceholder="{{ 'COMMON.SEARCH' | translate}}"
              targetFilterPlaceholder="{{ 'COMMON.SEARCH' | translate}}"
              [showSourceControls]="false"
              [showTargetControls]="false"
              [disabled]="!selectedGroup"
              (onMoveToTarget)="moveEvent($event, 'toTarget')"
              (onMoveToSource)="moveEvent($event, 'toSource')"
              (onMoveAllToTarget)="moveEvent($event, 'allToTarget')"
              (onMoveAllToSource)="moveEvent($event, 'allToSource')"
              filterBy="code">
    <ng-template let-item pTemplate="item">
      <div class="ui-helper-clearfix item-picklist">
        <div>{{item?.id}}</div>
        <div>{{item?.description?.name}}</div>
      </div>
    </ng-template>
  </p-pickList>
</nb-card>

