<div class="page-header">
  {{ "COMPONENTS.USER" | translate }}
</div>

<div class="page-breadcrumbs">
  <i class="fas fa-id-card"></i>
  <span class="home-color">
    {{'COMPONENTS.HOME' | translate}}
  </span>
  / {{'COMPONENTS.USER' | translate}}
</div>

<div class="page-content">

  <div class="page-body">
    <router-outlet></router-outlet>
  </div>

  <div *ngIf="showSide">
    <ngx-right-sidemenu [title]="sidemenuTitle" [value]="sidemenuValue" [links]="sidemenuLinks"></ngx-right-sidemenu>
  </div>

</div>
