<!-- <div class="pages">
  <h1 class="page_title">Manage Files</h1>
  <nb-card-header class="header_full">
    <div class="table_search padd_0">
      <input type="text" name="code" class="form-control" placeholder="Search">
    </div>
  </nb-card-header>
  <nb-card-body>
    <form #pagesForm="ngForm" role="form">
      <div class="row">
        <div class="col-lg-12">
          <ngx-dropzone class="dropzone_custom" (change)="onSelect($event)">
            <ngx-dropzone-label>Drop files here or click to upload.</ngx-dropzone-label>
            <ngx-dropzone-preview *ngFor="let f of files" [removable]="true" (removed)="onRemove(f)">
              <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
            </ngx-dropzone-preview>
          </ngx-dropzone>
        </div>
      </div>
    </form>
    <div class="row">
      <div class="col-lg-12">
        <ng2-smart-table [settings]="settings" [source]="source" class="home-table" (custom)="onClickAction($event)">
        </ng2-smart-table>
      </div>
    </div>
  </nb-card-body>
</div> -->

<div class="inner_pages">
  <h1 class="page_title_marg">Manage Files</h1>
  <div class="row" [nbSpinner]="loadingList" nbSpinnerSize="large" nbSpinnerStatus="primary">
    <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12">

      <div class="file_listing_scroll">
        <ul class="file_listing_main">
          <li *ngFor="let images of data;let i=index">
            <div class="file_listing_box">
              <div class="image-title-main">
                <div class="close_main">
                  <i class="fa fa-eye" (click)="openImage(i)"></i>
                  <i class="fa fa-copy" (click)="copyText(images.path + images.name)"></i>
                  <i class="fa fa-trash" (click)="removeImage(images.name)"></i>
                </div>
              </div>
              <div class="image_box" *ngIf="images.contentType == 1">
                <img src="{{images.path}}" class="banner-image">
              </div>
              <div class="image_box" *ngIf="images.contentType != 1">
                <img src="{{images.path}}{{images.name}}" class="banner-image">
              </div>
            </div>
          </li>
          <li>
            <ngx-dropzone class="dropzone_custom" (change)="onSelect($event)">
              <ngx-dropzone-label>Drop files here or click to upload.</ngx-dropzone-label>
              <ngx-dropzone-preview *ngFor="let f of files" [removable]="true">
                <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
              </ngx-dropzone-preview>
            </ngx-dropzone>
            <!-- <upload [onUpload]="handleUpload" [multi]="true"></upload> -->
          </li>
        </ul>
      </div>

    </div>
  </div>
</div>
