<div *ngIf="loader" [nbSpinner]="loader" nbSpinnerSize="large" nbSpinnerStatus="primary"></div>
<form [formGroup]='form' *ngIf="!loader">

  <div class="form-group">
    <label class="col-sm-10 col-form-label">Root category</label>
    <div class="col-sm-12">
      <nb-select *ngIf="roots.length" placeholder="Select root" formControlName='parent' outline
                 shape="rectangle">
        <nb-option *ngFor="let root of roots" [value]="root.code">{{ root.code }}</nb-option>
      </nb-select>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-12 group-block">
      <nb-checkbox status="success" formControlName='visible'>
        Visible
      </nb-checkbox>
    </div>
  </div>

  <div class="form-group">
    <label for="code" class="col-sm-10 col-form-label">Code</label>
    <div class="col-sm-12">
      <input type="text" class="form-control" id="code" formControlName='code'
             placeholder="Code" required>
      <span *ngIf="(code.dirty || code.touched) && code.invalid && code.errors.required"
            class="err-message">
        Сode is required.
      </span>
    </div>
  </div>

  <div class="form-group">
    <label for="order" class="col-sm-10 col-form-label">Order</label>
    <div class="col-sm-12">
      <input type="number" class="form-control" id="order" formControlName='sortOrder'
             placeholder="Order" required>
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-10 col-form-label">Language *</label>
    <div class="col-sm-12">
      <nb-select *ngIf="languages.length" placeholder="Select language" outline shape="rectangle"
                 formControlName='selectedLanguage'>
        <nb-option *ngFor="let language of languages" [value]="language.code">{{ language.code }}</nb-option>
      </nb-select>
    </div>
  </div>

  <div *ngIf="selectedLanguage.value !== ''" formArrayName='descriptions'>
    <div *ngFor="let descr of descriptions.controls; let j=index">
      <div *ngIf="descr.value.language === selectedLanguage.value">

        <div [formGroupName]="j" class="category-description">

          <div class="form-group">
            <label for="name" class="col-sm-10 col-form-label">Name</label>
            <div class="col-sm-12">
              <input type="text" class="form-control" id="name" formControlName='name'
                     placeholder="Name" (ngModelChange)="changeName($event, j)">
              <span *ngIf="(descr.get('name').dirty || descr.get('name').touched)
              && descr.get('name').invalid && descr.get('name').errors.required"
                    class="err-message">
                Name is required.
              </span>
            </div>
          </div>

          <div class="form-group">
            <label for="highlight" class="col-sm-10 col-form-label">Highlight</label>
            <div class="col-sm-12">
              <input type="text" class="form-control" id="highlight" formControlName='highlights'
                     placeholder="Highlight">
            </div>
          </div>

          <div class="form-group">
            <label for="friendlyUrl" class="col-sm-10 col-form-label">Friendly Url</label>
            <div class="col-sm-12">
              <input type="text" class="form-control" id="friendlyUrl" formControlName='friendlyUrl'
                     placeholder="Friendly Url">
              <span *ngIf="(descr.get('friendlyUrl').dirty || descr.get('friendlyUrl').touched)
              && descr.get('friendlyUrl').invalid && descr.get('friendlyUrl').errors.required"
                    class="err-message">
                Friendly Url is required.
              </span>
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-10 col-form-label">Category description</label>
            <div class="col-sm-12">
              <div formControlName="description"
                   [ngxSummernote]="config">
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="title" class="col-sm-10 col-form-label">Title</label>
            <div class="col-sm-12">
              <input type="text" class="form-control" id="title" formControlName='title'
                     placeholder="Title">
            </div>
          </div>

          <div class="form-group">
            <label for="keyWords" class="col-sm-10 col-form-label">(Meta tags) Keywords</label>
            <div class="col-sm-12">
              <input type="text" class="form-control" id="keyWords" formControlName='keyWords'
                     placeholder="Keywords">
            </div>
          </div>

          <div class="form-group">
            <label for="metaDescription" class="col-sm-10 col-form-label">(Meta tags) Description</label>
            <div class="col-sm-12">
              <input type="text" class="form-control" id="metaDescription" formControlName='metaDescription'
                     placeholder="Description">
            </div>
          </div>

        </div>


      </div>
    </div>
  </div>

  <hr/>

  <div class="form-group actions-button">
    <button type="submit" class="btn btn-primary" (click)="save()">Save</button>
    <button *ngIf="!showRemoveButton" type="submit" class="btn btn-danger" (click)="remove()">Remove</button>
  </div>


</form>

